# Data Science Tools and Ecosystem

## Author Name :
Jad Karami

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives ( 3 items covered in this notebook)
* Common languages used in programming

* Some Data Science Tools

* Arithmetic expressions

Here a few common languages used in programming:

   1- Python
   
   2- R
   
   3- Java
   
   4- HTML

Here a few common languages used in data science:

1- Pandas

2- Numpy

3- Seaborn

| Data Science Tools |
| --- |
| Jupyter Notebook |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335